

    .topnav {
        overflow: hidden;
        background-color: grey;
      }
      
      .topnav a {
        float: right;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
      
      .topnav a:hover {
        background-color: grey;
        color: black;
      }
      
      .topnav a.active {
        background-color: grey;
        color: white;
      }
      .arcticles{
        float:left;
        text-align: left;
      }
.containerSecond{
    float:left;
    text-align: left;
} 

.pagination{
    float:right;
    text-align: right;
}
.containerThird{
    float:left;
    text-align:left;
    background-color: #777
}
footer {
    background-color: #777;
    padding: 10px;
    text-align: left;
    color: whitesmoke;
}
